/* Root colors */
/* Light mode */
:root {
    --ifm-color-primary: #334155;
    --ifm-color-primary-dark: #1e293b;
    --ifm-color-primary-darker: #0f172a;
    --ifm-color-primary-darkest: #020617;

    --ifm-color-primary-light: #64748b;
    --ifm-color-primary-lighter: #94a3b8;
    --ifm-color-primary-lightest: #cbd5e1;

    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.06);
}

/* Dark mode */
[data-theme="dark"] {
    --ifm-color-primary: #cbd5e1;
    --ifm-color-primary-dark: #94a3b8;
    --ifm-color-primary-darker: #64748b;
    --ifm-color-primary-darkest: #334155;

    --ifm-color-primary-light: #1e293b;
    --ifm-color-primary-lighter: #0f172a;
    --ifm-color-primary-lightest: #020617;

    --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.08);
}

/* Index btn */
.button {
    background-color: var(--ifm-color-primary-light);
    color: #fff;
}

.button:hover {
    background-color: var(--ifm-color-primary-darkest);
}

/* Media queries */
@media (min-width: 996px) {
    /* Navbar Icons */
    .nav-icon {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        display: flex;
        color: transparent;
    }

    .nav-github {
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
            no-repeat;
    }

    .nav-linkedin {
        margin-left: 20px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 0h-14C2.239 0 0 2.239 0 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5V5c0-2.761-2.239-5-5-5zM8 19H5V9h3v10zM6.5 7.732C5.534 7.732 5 7.034 5 6.268 5 5.482 5.547 4.8 6.526 4.8c.98 0 1.5.682 1.512 1.468 0 .766-.533 1.464-1.538 1.464zM19 19h-3v-5.604c0-1.337-.477-2.25-1.67-2.25-.91 0-1.453.613-1.692 1.204-.087.213-.11.51-.11.807V19h-3V9h3v1.367c.398-.615 1.11-1.492 2.703-1.492 1.974 0 3.457 1.29 3.457 4.062V19z'/%3E%3C/svg%3E")
            no-repeat;
    }

    [data-theme="dark"] .nav-github {
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
            no-repeat;
    }

    [data-theme="dark"] .nav-linkedin {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19 0h-14C2.239 0 0 2.239 0 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5V5c0-2.761-2.239-5-5-5zM8 19H5V9h3v10zM6.5 7.732C5.534 7.732 5 7.034 5 6.268 5 5.482 5.547 4.8 6.526 4.8c.98 0 1.5.682 1.512 1.468 0 .766-.533 1.464-1.538 1.464zM19 19h-3v-5.604c0-1.337-.477-2.25-1.67-2.25-.91 0-1.453.613-1.692 1.204-.087.213-.11.51-.11.807V19h-3V9h3v1.367c.398-.615 1.11-1.492 2.703-1.492 1.974 0 3.457 1.29 3.457 4.062V19z'/%3E%3C/svg%3E")
            no-repeat;
    }
}
